# Site
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://sjlheegpioivmthdsroz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNqbGhlZWdwaW9pdm10aGRzcm96Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQwMzUyNDYsImV4cCI6MjA5OTYxMTI0Nn0.XLxjZGOE3_agk80AiTlomS8NEI57GFZMbujv9TporN8
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNqbGhlZWdwaW9pdm10aGRzcm96Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDAzNTI0NiwiZXhwIjoyMDk5NjExMjQ2fQ.JiB56fsfvIH-vXJaZ5vDFjwE3_mCN75RSf-bmPw92jY

# Analytics (optional)
NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_CLARITY_ID=
